<div class='container'>
  <div class='row'>

    <div class='span12'>
      <div class="page-header">
	<h1>Credits</h1>
      </div>

      <p>The staff of the ACL Anthology would like to acknowledge all
      of the contributors and institutions that make this collection
      of scholarly papers freely available to all.  The Anthology is
      only maintained by volunteers and the community's help is what
      continues to make this resource the landmark that it is.</p>
    </div>

    <!-- ------------------------------------------------------------ -->
    <div class='span12'>
      <h2>Sponsors</h2>

      <p>Institutional sponsors: Gold level: Advanced Research and
	Development Activity; Silver level: Information Sciences
	Institute (USC), Linguistic Data Consortium (UPenn), MITRE
	Corporation, Netherlands Organization for Scientific Research,
	Xerox Research Centre Europe, ELSNET; Bronze level: Center for
	Language and Speech Processing (JHU), City University of Hong
	Kong, Columbia University, Information Technology Research
	Institute (Brighton), Macquarie University, School of Behavioral
	and Cognitive Neurosciences (Groningen). </p>
    </div>
    <div class='span8'>
      <h3 style="background-color:gold; text-align: center; padding:10px">Gold Sponors</h3>
      <p style="text-align: center;">
	<%= link_to image_tag('arda-logo.gif', alt:"ARDA", border:0), "http://ic-arda.org/" %>
      </p>
      <h3 style="background-color:silver; text-align: center; padding:10px">Silver Sponors</h3>
      <p style="text-align: center;">
	<%= link_to image_tag('isi-logo.gif', alt:"ISI", border:0), "http://www.isi.edu/" %>
	<%= link_to image_tag('mitre-logo.gif', alt:"Mitre", border:0), "http://www.mitre.org/" %>
	<%= link_to image_tag('elsnet-logo.gif', alt:"ELSNET", border:0), "http://www.elsnet.org/" %>
	<%= link_to image_tag('nwo-logo.gif', alt:"NWO", border:0), "http://www.nwo.nl/" %>
	<%= link_to image_tag('ldc-logo.gif', alt:"LDC", border:0), "http://www.ldc.upenn.edu/" %>
	<%= link_to image_tag('xrce-logo.gif', alt:"XRCE", border:0), "http://www.xcre.xerox.com/" %>
      </p>
    </div>
    <div class='span4'>
      <h3 style="background-color:#CD7F32; text-align: center; padding:10px">Bronze Sponors</h3>
      <p style="text-align: center;">
	<%= link_to image_tag("mq-logo.gif", alt:"MQ", border:0), "http://www.mq.edu.au/" %>
	<%= link_to image_tag("bcn-logo.gif", alt:"BCN", border:0), "http://www.bcn.rug.nl/" %>
	<%= link_to image_tag("cuhk-logo.gif", alt:"CUHK", border:0), "http://www.cityu.edu.hk/" %>
	<%= link_to image_tag("jhu-logo.gif", alt:"CLSP JHU", border:0), "http://www.clsp.jhu.edu/" %>
	<%= link_to image_tag("itri-logo.jpg", alt:"ITRI", border:0), "http://www.itri.bton.ac.uk/" %>
	<%= link_to image_tag("columbia-logo.jpg", alt:"Columbia", border:0), "http://www.cs.columbia.edu/" %>
      </p>
    </div>
    <!-- ------------------------------------------------------------ -->
    <div class='span12'>
      <h2>Donors</h2>

      <p>We are indebted to the following individuals who generously
	supplied copies of out-of-print volumes for destructive
	scanning.  Thank you!</p>

      <p> <strong>Donors of multiple volumes</strong>: Steven Bird,
	Nicoletta Calzolari, Kenneth Church, Helen Gigley, Eva Hajicova,
	Eduard Hovy, Jussi Karlgren, David Lewis, Elliott Macklovitch, Jane
	Robinson, Petr Sgall, Karen Spärck Jones, Beth Sundheim, Betty Walker,
	Antonio Zampolli.  </p>
      <p> <strong>Donors of single volumes</strong>: Elizabeth Andre, Sabine
	Bergler, Jason Eisner, Andy Kehler, Guy Lapalme, Alberto Lavelli,
	Winfried Lenders, Bente Maegaard, Mark Maybury, Kathleen McCoy, David
	McDonald, Ruslan Mitkov, Johanna Moore, John Nerbonne, Yael Netzer,
	Miles Osborne, Hannes Pirker, James Pustejovsky, Mike Rosner, Donia
	Scott, Evelyne Viegas, Bonnie Webber, Yorick Wilks.</p>

      <p> <strong>Donors of financial support</strong>: We are also
	indebted to the following individuals who have provided
	financial support: Sumali Conlon, Barbara Di Eugenio, Margaret
	Fleck, Mary Harper, Woody Haynes, Lillian Lee, Edward Loper,
	Grace Ngai, Pierre Nugues, 1 anonymous donor</p>
    </div>

    <!-- ------------------------------------------------------------ -->
    <div class='span12'>
      <h2>Other Credits</h2>
      <p> Other organizations that have supported the Anthology
	(e.g. with copyright transfer agreements):</p>

      <p style="text-align: center">
	<%= link_to image_tag('ucp-logo.jpg', alt:"U. Chicago Press", border:0), "http://www.press.uchicago.edu/" %>
      </p>

      <p>Thanks to the European Language Resources Association (ELRA)
	for allowing us to link to the International Conference on
	Language Resources and Evaluation proceedings series (LREC).</p>
      
      <p>Thanks to the Machine Translation Archive for allowing us to
	link to their scanned copies of the <i>Mechnical Translation
	and Computational Linguistics journal</i>, the precursor to
	the current <i>Computational Linguistics journal</i>.</p>
      
      <p>Thanks to Robert Amsler for his generous help and support of
	compiling the listing of the Finite String newsletter.</p>
    </div>
    <!-- ------------------------------------------------------------ -->
    <div class='span12'>
      <h2>Editors</h2>
      <ul>
	<li><a href="https://mjpost.github.io/">Matt Post</a> (editor, 2019&ndash;)</li>
	<li><a href="https://www.comp.nus.edu.sg/~kanmy/">Min-Yen Kan</a> (editor, 2008&ndash;2018)</li>
	<li><a href="http://www.stevenbird.net">Steven Bird</a> (editor, 2001&ndash;2007)</li>
	<li>Eduard Hovy, John Nerbonne, Mike Rosner, Nicoletta Calzolari and
	  Doug Arnold (associate editors).</li>
      </ul>

      <h2>Volunteers</h2>
      <ul>
        <li><a href="https://www.cteichmann.com">Christoph Teichmann</a> (Bloomberg LLC)</li>
        <li><a href="https://www.cs.rochester.edu/u/gildea/">Daniel Gildea</a> (University of Rochester)</li>
        <li><a href="http://www.coli.uni-saarland.de/~villalba/">Martín Villalba</a> (Saarland University)</li>
        <li><a href="https://desilinguist.org">Nitin Madnani</a> (Educational Testing Services)</li>
	
	<li>Authors of anthology introductions: John Nerbonne, Julia
	  Hirschberg, Donia Scott, Diane Litman, Sergei Nirenburg, Karen
	  Spärck Jones, and Aravind Joshi.</li>
      </ul>
    </div>
  </div>
</div>
