<div class="row">
  <div class="span3">
    <div class="page-header" style="visibility: hidden">
      <h2>&nbsp;</h2>
    </div>
    <h4>Popular Co-Authors</h4>
    <% @co_authors.each do |co_auth,count| %>
      <p>
        <%= link_to co_auth.full_name, person_path(co_auth) %>
        (<%= count %>)
      </p>
    <% end %>

    <h4>Venues</h4>
    <% @venues.each do |venue,count| %>
      <p>
        <%= link_to venue.acronym, venue_path(venue) %>
        (<%= count %>)
      </p>
    <% end %>
    
  </div>

  <div class="span9">
    <%- model_class = Person -%>
    <div class="page-header">
      <h2><%= @person.full_name %></h2>
    </div>
    <!-- <div class="form-actions">
      <%= link_to t('.back', :default => t("helpers.links.back")),
                  people_path, :class => 'btn'  %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_person_path(@person), :class => 'btn' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  person_path(@person),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>
    </div>
 -->
    <% @years.each do |year| %>
      <h4><%= year %></h4>
      <% @papers.each do |paper| %>
      
        <% if paper.year == year %>
          <p>
            <%= link_to image_tag("pdf.png", size: "28x28", alt: "PDF Link"), "http://aclweb.org/anthology/" + paper.anthology_id, :target => "_blank" %>
            <%= link_to image_tag("export.png", size: "28x28", alt: "Export"), bibexport_paper_path(paper)+".bib" %>
            <%= link_to image_tag("search.png", size: "28x28", alt: "Search"), "https://www.google.com/search?q=" + paper.title, :target => "_blank"%>
            <strong><%= link_to paper.title, paper_path(paper) %></strong><br>
            [<%= paper.anthology_id %>]:
            <% first_author = true %>
            <% paper.people.each do |author| %>
              <% if first_author == true %>
                <% first_author = false %>
              <% else %>
                | <!-- a character for spacing -->
              <% end %>
              <% if author == @person %>
                  <%= link_to author.full_name, person_path(author), :style => "text-decoration:underline; font-style:italic;" %>
                <% else %>
                  <%= link_to author.full_name, person_path(author) %>
                <% end %>
            <% end %><br><br>
          </p>
        <% end %>
      
      <% end %>
    <% end %>

  </div>
</div>