<div class="row">
  <div class="span3">
    <div class="page-header" style="visibility: hidden">
      <h2>&nbsp;</h2>
    </div>
    <h4>Popular Co-Authors</h4>
    <% @co_authors.each do |co_auth,count| %>
      <p>
        <%= link_to co_auth.full_name, person_path(co_auth) %>
        (<%= count %>)
      </p>
    <% end %>

    <h4>Venues</h4>
    <% @venues.each do |venue,count| %>
      <p>
        <%= link_to venue.acronym, venue_path(venue) %>
        (<%= count %>)
      </p>
    <% end %>
    
  </div>

  <div class="span9">
    <%- model_class = Person -%>
    <div class="page-header">
      <h2><%= @person.full_name %></h2>
    </div>
    <!-- <div class="form-actions">
      <%= link_to t('.back', :default => t("helpers.links.back")),
                  people_path, :class => 'btn'  %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_person_path(@person), :class => 'btn' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  person_path(@person),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>
    </div>
 -->
    <% @years.each do |year| %>
      <h4><%= year %></h4>
      <% @papers.each do |paper| %>
        <% if paper.year == year %>
          <%= render "papers/paper", :paper => paper %>
        <% end %>
      
      <% end %>
    <% end %>

  </div>
</div>