
<div class="container">
	<hr>
	<div id ="footer" class="span12">
		<p>ACL materials are Copyright &#169; 1963-2018 ACL; other materials are copyrighted by their respective copyright holders.  Materials prior to 2016 here are licensed under the <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 International License</a>. Permission is granted to make copies for the purposes of teaching and research.  Materials published in or after 2016 are licensed on a <A HREF="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 License</A>.</p>

		<p style="text-align: center"><%= link_to "Credits", controller: "static_pages", action: "credits" %> | 
		  <%= link_to "Contributors", controller: "static_pages", action: "contributors" %> | 
		  <%= link_to "Corrections", controller: "static_pages", action: "corrections" %> | 
                  <A HREF="http://bit.ly/aclAnthologyQ">Ingestion Queue</A> | 
                  <A HREF="https://github.com/WING-NUS/acl/issues">Issues</A> | 
		  <%= link_to "FAQ", controller: "static_pages", action: "faq" %> 
		</p>
		
		<p><a href="http://mjpost.github.io">Matt Post</a> (Editor, 2019&ndash;) / 
		<a href="http://www.comp.nus.edu.sg/~kanmy/">Min-Yen Kan</a> (Editor, 2008&ndash;2018) / 
		<a href="http://stevenbird.net/">Steven Bird</a> (Editor, 2001&ndash;2007)</p>

<!--		<%= link_to image_tag('88x31.png', alt: "Creative Commons License", border: 0), "http://creativecommons.org/licenses/by-nc-sa/4.0/", rel: "license", id: "cc_icon" %> -->
		<%= link_to image_tag('cc4by.png', alt: "Creative Commons License", border: 0), "http://creativecommons.org/licenses/by/4.0/", rel: "license", id: "cc_icon" %> 
	</div>
</div>
