<div class="row">
	<div class="span2" id="intro">
		<h4>Welcome to the ACL Anthology</h4>
		<p>The ACL Anthology currently hosts over 24,500 papers on the study of computational linguistics and natural language processing. Subscribe to the mailing list to receive announcements and updates to the Anthology.</p>
		
	</div>
	<div class="span10">
		<!-- ACL Events -->
		<table class="table-index">
			<thead>
				<tr>
					<th>ACL Events</th>
					<th colspan="4">Present - 2010</th>
					<th colspan="10">2009 - 2000</th>
					<th colspan="10">1999 - 1990</th>
					<th colspan="11">1989 - 1974</th>
					<!-- <th colspan="10">1989 - 1980</th>
					<th colspan="1">1979 - 1970</th> -->
				</tr>
			</thead>
			<tbody>
				<% @acronyms_acl.each do |acronym| %>
				<tr>
					<% @venue = Venue.find_by_acronym(acronym) %>
					<th><%= link_to acronym, venue_path(@venue) %></th>
					<% @years_acl.each do |year| %>
						<% @event = Event.find_by_venue_id_and_year(@venue.id, year.to_i) %>
						<% if @event %>				
							<% if acronym == "CL" && year == "1979" %>
								<td><%= link_to "79-74", event_path(@event) %></td>
							<% else %>
								<td <%= "class=first_col" if year == "2013" || year == "2009" || year == "1999" || year == "1989" %>>
									<%= link_to year[2..4], event_path(@event) %></td>
							<% end %>
						<% else %>
							<td <%= "class=first_col" if year == "2013" || year == "2009" || year == "1999" || year == "1989" %>></td>
						<% end %>
					<% end %>
				</tr>
				<% end %>

				<!-- SIGs -->
				<tr>
					<th>SIGs</th>
					<td colspan="35" class="first_col">
					<% @sigs.each do |sig| %>
						<% if sig.sigid == "SEMITIC" %>
							<%= link_to sig.sigid, sig_path(sig) %> |
						<% elsif sig.sigid == "SIGWAC" %>
							<%= link_to sig.sigid[3..-1], sig_path(sig) %>
						<% else %>
							<%= link_to sig.sigid[3..-1], sig_path(sig) %> |
						<% end %>
					<% end %>
					</td>
				</tr>
			</tbody>
		</table>

		<!-- Non-ACL Events -->
		<table class="table-index">
			<thead>
				<tr>
					<th>Non-ACL Events</th>
					<th colspan="4">2010s</th>
					<th colspan="10">2000s</th>
					<th colspan="10">1990s</th>
					<th colspan="6">1980s</th>
					<th colspan="3">1970s</th>
					<th colspan="3">1960s</th>
				</tr>
			</thead>
			<tbody>
				<% @acronyms_nonacl.each do |acronym| %>
				<tr>
					<% @venue = Venue.find_by_acronym(acronym) %>
					<th><%= acronym %></th>
					<% @years_nonacl.each do |year| %>
						<% @event = Event.find_by_venue_id_and_year(@venue.id, year.to_i) %>
						<% if @event %>
							<td <%= "class=first_col" if year == "2013" || year == "2009" || year == "1999" || year == "1989" || year == "1978" || year == "1969" %>>
								<%= link_to year[2..4], event_path(@event) %></td>
						<% else %>
							<td <%= "class=first_col" if year == "2013" || year == "2009" || year == "1999" || year == "1989" || year == "1978" || year == "1969" %>></td>
						<% end %>
					<% end %>
				</tr>
				<% end %>
			</tbody>
		</table>
		<div id="notes">
			<h5>Notes</h5>
			<p>Here we will add some notes</p>
		</div>
		<hr>
		<div class="span6" style="margin-left: 0px;">
			<h5>Popular Papers this week</h5>
			<ul>
				<% @popular_papers.each do |paper| %>
					<li><%= link_to paper.title, paper_path(paper) %></li>
				<% end %>
			</ul>
		</div>
		<div class="span3" style="float:right;">
			<h5>Popular Authors this week</h5>
			<ul>
				<% @popular_authors.each do |author| %>
					<li><%= link_to author.full_name, person_path(author) %></li>
				<% end %>
			</ul>
		</div>
	</div>

</div>

