<div class="row">
	<% cache "intro_text", expires_in: 1.day do %>
	<div class="span2">
		<div id="intro">
			<h4>Welcome to the ACL Anthology</h4>
			<p>The ACL Anthology currently hosts <%= Paper.count %> papers on the study of computational linguistics and natural language processing. <a href="http://groups.google.com/group/acl-anthology?hl=en">Subscribe to the mailing list</a> to receive announcements and updates to the Anthology.</p>

<P>Do you love the Anthology? Not an ACL member yet? Please <A HREF="http://www.aclweb.org/portal/user/register">join as an ACL member</A> to help keep the Anthology open for all to use.</P>
		</div>
	</div>
	<% end # of cache %>
	
	<div class="span10">

		<% cache "index_tables", expires_in: 1.day do %>

		<!-- ACL Events -->
		<table class="table table-index">
			<thead>
				<tr>
					<th>ACL Events</th>
					<th colspan="10">Present - 2010</th>
					<th colspan="10">2009 - 2000</th>
					<th colspan="10">1999 - 1990</th>
					<th colspan="11">1989 - 1974</th>
					<!-- <th colspan="10">1989 - 1980</th>
					<th colspan="1">1979 - 1970</th> -->
				</tr>
			</thead>
			<tbody>
				<% @venues_acl.each do |venue| %>
				<tr>
					<th><%= link_to venue.acronym, venue_path(venue) %></th>
					<% @events = Event.order("year DESC").where(venue_id: venue.id, year: @years_acl) %>
					<% event_count = 0 %>
					<% @years_acl.each do |year| %>
						<% event = @events[event_count] %>
						<% is_new_event = check_new(event) %>
						<% if event && event.year.to_s == year %>
							<% if venue.acronym == "CL" && year == "1979" %>
								<td <%= "id=new" if is_new_event %>>
									<%= link_to "79-74", event_path(event) %>
								</td>
							<% else %>
								<td <%= "class=first_col" if @border_years_acl.include?(year) %> <%= "id=new" if is_new_event %>>
									<%= link_to year[2..4], event_path(event) %>
								</td>
							<% end %>
							<% event_count += 1 %>
						<% else %>
							<td <%= "class=first_col" if @border_years_acl.include?(year) %>></td>
						<% end %>
					<% end %>
				</tr>
				<% end %>

				<!-- SIGs -->
				<tr>
					<th>SIGs</th>
					<td colspan="39" class="first_col">
					<% @sigs.each do |sig| %>
						<% if sig.sigid == "SEMITIC" %>
							<%= link_to sig.sigid, sig_path(sig) %> |
						<% elsif sig.sigid == "SIGWAC" %>
							<%= link_to sig.sigid[3..-1], sig_path(sig) %>
						<% else %>
							<%= link_to sig.sigid[3..-1], sig_path(sig) %> |
						<% end %>
					<% end %>
					</td>
				</tr>
			</tbody>
		</table>

		<!-- Non-ACL Events -->
		<table class="table table-index">
			<thead>
				<tr>
					<th>Non-ACL Events</th>
					<th colspan="10">Present - 2010</th>
					<th colspan="10">2009 - 2000</th>
					<th colspan="10">1999 - 1990</th>
					<th colspan="6">1989 - 1980</th>
					<th colspan="6">1979 - 1965</th>
				</tr>
			</thead>
			<tbody>
				<% @venues_nonacl.each do |venue| %>
				<tr>
					<th><%= link_to venue.acronym, venue_path(venue) %></th>
					<% @events = Event.order("year DESC").where(venue_id: venue.id, year: @years_nonacl) %>
					<% event_count = 0 %>
					<% @years_nonacl.each do |year| %>
						<% event = @events[event_count] %>
						<% is_new_event = check_new(event) %>
						<% if event && event.year.to_s == year %>
							<% if venue.acronym == "CL" && year == "1979" %>
								<td <%= "id=new" if is_new_event %>>
									<%= link_to "79-74", event_path(event) %>
								</td>
							<% else %>
								<td <%= "class=first_col" if @border_years_nonacl.include?(year) %> <%= "id=new" if is_new_event %>>
									<%= link_to year[2..4], event_path(event) %>
								</td>
							<% end %>
							<% event_count += 1 %>
						<% else %>
							<td <%= "class=first_col" if @border_years_nonacl.include?(year) %> ></td>
						<% end %>
					<% end %>
				</tr>
				<% end %>
			</tbody>
		</table>
		<% end %><!--  End caching -->
	</div>
</div>

