<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @event.year %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @event.type %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
