<div class="row">
  <%- model_class = Event -%>
  <div class="span12 page-header">
    <h3 style=""><%= Venue.find(@event.venue_id).name %> (<%= @event.year %>)</h3>
  </div>

  <div class="span12">
    <%- model_class = Volume -%>
    <h4 style="text-align:center">Table of contents</h4>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Anthology</th>
          <th>Volume</th>
          <th>Papers</th>
        </tr>
      </thead>
      <tbody>
        <% @volumes.each do |volume| %>
          <tr>
            <td><%= volume.anthology_id %></td>
            <td><%= link_to volume.title, :anchor => volume.anthology_id %></td>
            <td><%= volume.papers.size %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <% @volumes.each do |volume| %>
      <br><br>
      <h4 id="<%= volume.anthology_id %>" class="volume">
        <%= link_to image_tag("pdf.png", size: "24x24", title: "Open PDF of '#{volume.title}'"), "http://aclweb.org/anthology/" + volume.anthology_id, :target => "_blank" %>
        <%= link_to image_tag("export.png", size: "24x24", title: "Export '#{volume.title}' to bib format"), volume_path(volume, format: :bib) %>
        <%= link_to image_tag("search.png", size: "24x24", title: "Search for '#{volume.title}' on Google"), "https://www.google.com/search?q=" + volume.title, :target => "_blank"%>
        <%= link_to volume.title, volume_path(volume) %>
      </h4><br>
      <% @papers = volume.papers.includes(:people) %>
      <% @papers = @papers.sort_by(&:anthology_id) %>
      <% @papers.each do |paper| %>
        <%= render "papers/paper", :paper => paper %>
      <% end %>
    <% end %>
  </div>
</div>