<div class="row">
  <%- model_class = Sig -%>
  <div class="span12 page-header">
    <h3 style=""><%= @sig.name %></h3>
    <h5><%= link_to @sig.sigid + " homepage", @sig.url, :target => "_blank" if @sig.url %>&nbsp;</h5>
  </div>

  <div class="span12">
      <%- model_class = Volume -%>
      <h4 style="text-align:center">Table of contents</h4>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Anthology</th>
            <th>Volume</th>
            <th>Year</th>
            <th>Papers</th>
          </tr>
        </thead>
        <tbody>
          <% @volumes.each do |volume| %>
            <tr>
              <td><%= volume.anthology_id %></td>
              <td><%= link_to volume.title, :anchor => volume.anthology_id %></td>
              <td><%= volume.year %></td>
              <td><%= volume.papers.size %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <% @volumes.each do |volume| %>
        <br><br>
        <h4><span id="<%= volume.anthology_id %>"> <%= volume.title %> </span></h4><br>
        <% volume.papers.each do |paper| %>
          <%= render "papers/paper", :paper => paper %>
        <% end %>
      <% end %>
      
    </div>
  </div>
</div>