<p id="notice"><%= notice %></p>

<p>
  <strong>Volume:</strong>
  <%= @volume.volume_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @volume.title %>
</p>

<p>
  <strong>Month:</strong>
  <%= @volume.month %>
</p>

<p>
  <strong>Year:</strong>
  <%= @volume.year %>
</p>

<p>
  <strong>Address:</strong>
  <%= @volume.address %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @volume.publisher %>
</p>

<p>
  <strong>Url:</strong>
  <%= @volume.url %>
</p>

<p>
  <strong>Bibtype:</strong>
  <%= @volume.bibtype %>
</p>

<p>
  <strong>Bibkey:</strong>
  <%= @volume.bibkey %>
</p>

<%= link_to 'Edit', edit_volume_path(@volume) %> |
<%= link_to 'Back', volumes_path %>
