<div class="row">
  <%- model_class = Volume -%>
    <div class="page-header">
      <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
    </div>
  <div class="span6">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:anthology_id) %>:</strong></dt>
      <dd><%= @volume.anthology_id %></dd>
      <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
      <dd><%= @volume.title %></dd>
      <dt><strong><%= model_class.human_attribute_name(:month) %>:</strong></dt>
      <dd><%= @volume.month %></dd>
      <dt><strong><%= model_class.human_attribute_name(:year) %>:</strong></dt>
      <dd><%= @volume.year %></dd>
      <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
      <dd><%= @volume.address %></dd>
      <dt><strong><%= model_class.human_attribute_name(:publisher) %>:</strong></dt>
      <dd><%= @volume.publisher %></dd>
      <dt><strong><%= model_class.human_attribute_name(:url) %>:</strong></dt>
      <dd><%= @volume.url %></dd>
      <dt><strong><%= model_class.human_attribute_name(:bibtype) %>:</strong></dt>
      <dd><%= @volume.bibtype %></dd>
      <dt><strong><%= model_class.human_attribute_name(:bibkey) %>:</strong></dt>
      <dd><%= @volume.bibkey %></dd>
    </dl>
  </div>

  <!-- Editors listing -->
  <div class="span6">
    <%- editor_class = Person -%>
    <h3 style="text-align:center">Editors</h3>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><%= editor_class.human_attribute_name(:first_name) %></th>
          <th><%= editor_class.human_attribute_name(:last_name) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @editors.each do |person| %>
          <tr>
            <td><%= person.first_name %></td>
            <td><%= person.last_name %></td>
            <td>
              <%= link_to t('.view', :default => t("helpers.links.view")),
                              person_path(person), :class => 'btn btn-mini btn-primary' %>
              <!-- <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_person_path(person), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          person_path(person),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' %> -->
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!-- Volume controls -->
  <div class="form-actions span12">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                volumes_path, :class => 'btn'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_volume_path(@volume), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                volume_path(@volume),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  </div>              

  <!-- Papers listing -->
  <div class="span12">
    <%- paper_class = Paper -%>

    <h3 style="text-align:center"><%=t '.title', :default => paper_class.model_name.human.pluralize.titleize %></h3>
    <%= paginate @papers %>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><%= paper_class.human_attribute_name(:anthology_id) %></th>
          <th><%= paper_class.human_attribute_name(:paper_id) %></th>
          <th><%= paper_class.human_attribute_name(:title) %></th>
          <th><%= paper_class.human_attribute_name(:month) %></th>
          <th><%= paper_class.human_attribute_name(:year) %></th>
          <th><%= paper_class.human_attribute_name(:address) %></th>
          <th><%= paper_class.human_attribute_name(:url) %></th>
          <!-- <th><%=t '.actions', :default => t("helpers.actions") %></th> -->
        </tr>
      </thead>
      <tbody>
        <% @papers.each do |paper| %>
          <tr>
            <td><%= paper.anthology_id %></td>
            <td><%= paper.paper_id %></td>
            <td><%= link_to paper.title, paper_path(paper) %></td>
            <td><%= paper.month %></td>
            <td><%= paper.year %></td>
            <td><%= paper.address %></td>
            <td><%= paper.url %></td>
            <!-- <td>
              <%= link_to t('.view', :default => t("helpers.links.view")),
                              paper_path(paper), :class => 'btn btn-mini btn-primary' %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_paper_path(paper), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          paper_path(paper),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' %>
            </td> -->
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_volume_paper_path(@volume),
                :class => 'btn btn-primary' %>
  </div>
</div>
