<div class="row">
  <%- model_class = Volume -%>
  <div class="span12 page-header">
    <h3><%= @volume.title %></h3>
  </div>
  <div class="span12">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:anthology_id) %>:</strong></dt>
      <dd><%= @volume.anthology_id %>&nbsp;</dd>
      <% if @editors.size > 1 %>
        <dt><strong>Editors:</strong></dt>
      <% else %>
        <dt><strong>Editor:</strong></dt>
      <% end %>  
      <dd>
        <% first_editor = true %>
        <% @editors.each do |editor| %>
          <% if first_editor == true %>
            <%= link_to editor.full_name, person_path(editor) %>
            <% first_editor = false %>
          <% else %>
            | <%= link_to editor.full_name, person_path(editor) %>
          <% end %>
        <% end %>&nbsp;
      </dd>
      <dt><strong><%= model_class.human_attribute_name(:month) %>:</strong></dt>
      <dd><%= @volume.month %>&nbsp;</dd>
      <dt><strong><%= model_class.human_attribute_name(:year) %>:</strong></dt>
      <dd><%= @volume.year %>&nbsp;</dd>

      <% if @events.size > 1 %>
        <dt><strong>Events:</strong></dt>
      <% else %>
        <dt><strong>Event:</strong></dt>
      <% end %>  
      <dd>
        <% first_event = true %>
        <% @events.each do |event| %>
          <% if first_event == true %>
            <%= link_to Venue.find(event.venue_id).acronym, event_path(event) %>
            <% first_event = false %>
          <% else %>
            | <%= link_to Venue.find(event.venue_id).acronym, event_path(event) %>
          <% end %>
        <% end %>&nbsp;
      </dd>

      <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
      <dd><%= @volume.address %>&nbsp;</dd>

      <% if @sigs.size > 1 %>
        <dt><strong>SIGs:</strong></dt>
      <% else %>
        <dt><strong>SIG:</strong></dt>
      <% end %>  
      <dd>
        <% first_sig = true %>
        <% @sigs.each do |sig| %>
          <% if first_sig == true %>
            <%= link_to sig.sigid, sig_path(sig) %>
            <% first_sig = false %>
          <% else %>
            | <%= link_to sig.sigid, sig_path(sig) %>
          <% end %>
        <% end %>&nbsp;
      </dd>

      <dt><strong><%= model_class.human_attribute_name(:publisher) %>:</strong></dt>
      <dd><%= @volume.publisher %>&nbsp;</dd>
      <dt><strong><%= model_class.human_attribute_name(:url) %>:</strong></dt>
      <dd><%= link_to @volume.url, @volume.url, :target => "_blank" if @volume.url  %>&nbsp;</dd>
      <dt><strong><%= model_class.human_attribute_name(:bibtype) %>:</strong></dt>
      <dd><%= @volume.bibtype %>&nbsp;</dd>
      <dt><strong><%= model_class.human_attribute_name(:bibkey) %>:</strong></dt>
      <dd><%= @volume.bibkey %>&nbsp;</dd>
    </dl>
  </div>

  <!-- Volume controls -->
  <!-- <div class="form-actions span12">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                volumes_path, :class => 'btn'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_volume_path(@volume), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                volume_path(@volume),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  </div>    -->           

  <!-- Papers listing -->
  <div class="span12">
    <h4></h4><br>
    <% @papers.each do |paper| %>
      <%= render "papers/paper", :paper => paper %>
    <% end %>
  </div>
</div>
