<div class="row">
  <%- model_class = Venue -%>
  <div class="span12 page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
  </div>

  <div class="span6">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:acronym) %>:</strong></dt>
      <dd><%= @venue.acronym %>&nbsp;</dd>
      <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
      <dd><%= @venue.name %>&nbsp;</dd>
      <dt><strong><%= model_class.human_attribute_name(:venueid) %>:</strong></dt>
      <dd><%= @venue.venueid %>&nbsp;</dd>
    </dl>

    <div class="form-actions">
      <%= link_to t('.back', :default => t("helpers.links.back")),
                  venues_path, :class => 'btn'  %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_venue_path(@venue), :class => 'btn' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  venue_path(@venue),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>
    </div>
  </div>

  <div class="span6">
    <%- event_class = Event -%>
    <h3 style="text-align:center"><%=t '.title', :default => event_class.model_name.human.pluralize.titleize %></h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= event_class.human_attribute_name(:year) %></th>
          <th><%= event_class.human_attribute_name(:kind) %></th>
          <!-- <th><%=t '.actions', :default => t("helpers.actions") %></th> -->
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= link_to event.year, event_path(event) %></td>
            <td><%= event.kind %></td>
            <!-- <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_event_path(event), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          event_path(event),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' %>
            </td> -->
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>