<div class="row">
  <%- model_class = Venue -%>
  <div class="span12 page-header">
    <h2><%= @venue.name %> (<%= @venue.acronym %>)</h2>
  </div>

  <div class="span2">
    <%- event_class = Event -%>
    <h3 style="text-align:center"><%=t '.title', :default => event_class.model_name.human.pluralize.titleize %></h3>
    <table class="table table-striped">
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= link_to event.year, event_path(event) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div id="intro" class="span10">
    <% intro_path = "app/views/venues/intros/_" + @venue.acronym + ".html.erb" %>
    <% if File.exist?(intro_path) %>
      <% intro_partial = File.open(intro_path,'r') %>
      <%= render "venues/intros/" + @venue.acronym.downcase %>
    <% end %>

  </div>

</div>