<!-- <%# default partial to display solr document fields in catalog index view -%>
<dl class="document-metadata dl-horizontal dl-invert">
  
  <% index_fields(document).each do |solr_fname, field| -%>
    <% if should_render_index_field? document, field %>
	    <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_label document, :field => solr_fname %></dt>
	    <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_value document, :field => solr_fname %></dd>

	    <% if solr_fname == "paper_anthology" %>
	    	[<%= render_index_field_value document, :field => solr_fname %>]:
	    <% end %>
    <% end -%>
  <% end -%>

</dl>
-->

<% first_author = true %>
<% index_fields(document).each do |solr_fname, field| -%>
	<% if should_render_index_field? document, field %>
		<span class="">
			<% if solr_fname == "paper_anthology" %>
				<!-- [<% render_index_field_value document, :field => "paper_anthology" %>] -->
			<% end %>
			<% if solr_fname == "author" %>
				<% document[:author].each do |au|%>
					<% if first_author == false %>
						|
					<% end %>
					<%= au %>
					<% first_author = false %>
				<% end %>
			<% end %>
		</span>
	<% end -%>
<% end -%>
