<%- if has_thumbnail?(document) && tn = render_thumbnail_tag(document, {}, :counter => document_counter_with_offset(document_counter)) %>
<div class="document-thumbnail">
	<%= tn %>
</div>  
<%- end %>

<% @paper = Paper.find_by_anthology_id(document[:paper_anthology]) %>
<%= link_to image_tag("pdf.png", size: "16x16", title: "Open PDF of '#{document[:title]}'"), "http://aclweb.org/anthology/" + document[:paper_anthology], :target => "_blank" %>
<%= link_to image_tag("export.png", size: "16x16", title: "Export '#{document[:title]}' to bib format"), paper_path(Paper.friendly.find(@paper), format: :bib) %>
<%= link_to image_tag("search.png", size: "16x16", title: "Search for '#{document[:title]}' on Google"), "https://www.google.com/search?q=" + document[:title], :target => "_blank"%>

<% attachments = document[:attach_name] %>

<% if attachments %>
	<% attachments.each_with_index do |attachment, i| %>
		<%= link_to image_tag("#{document[:attach_type][i]}.png", size: "16x16", title: "Open #{document[:attach_type][i]}: #{attachment}"), document[:attach_url][i], :target => "_blank" %>
	<% end %>
<% end %>
