<%= form_for @paper, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :anthology_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :anthology_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :paper_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :paper_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :month, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :month, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :year, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :year, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :publisher, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :publisher, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :pages, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :pages, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bibtype, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bibtype, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bibkey, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bibkey, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                volume_path(@paper.volume_id), :class => 'btn' %>
  </div>
<% end %>
