<p>
  <%= link_to image_tag("pdf.png", size: "16x16", title: "Open PDF of '#{paper.title}'"), "http://aclweb.org/anthology/" + paper.anthology_id, :target => "_blank" %>
  <%= link_to image_tag("export.png", size: "16x16", title: "Export '#{paper.title}' to bib format"), paper_path(paper, format: :bib) %>
  <%= link_to image_tag("search.png", size: "16x16", title: "Search for '#{paper.title}' on Google"), "https://www.google.com/search?q=" + paper.title, :target => "_blank"%>

  <% if paper.attach_type == "attachment" %>
    <%= link_to image_tag("attachment.png", size: "16x16", title: "Open attachment: #{paper.attachment}"), "http://aclweb.org/supplementals/#{paper.attachment[0]}/#{paper.attachment[0..2]}/#{paper.attachment}", :target => "_blank" %>
  <% elsif paper.attach_type == "dataset" %>
    <%= link_to image_tag("dataset.png", size: "16x16", title: "Open dataset: #{paper.attachment}"), "http://aclweb.org/supplementals/#{paper.attachment[0]}/#{paper.attachment[0..2]}/#{paper.attachment}", :target => "_blank" %>
  <% elsif paper.attach_type == "software" %>
    <%= link_to image_tag("software.png", size: "16x16", title: "Open software: #{paper.attachment}"), "http://aclweb.org/supplementals/#{paper.attachment[0]}/#{paper.attachment[0..2]}/#{paper.attachment}", :target => "_blank" %>
  <% end %>

  <strong><%= link_to paper.title, paper_path(paper) %></strong><br>
  [<%= paper.anthology_id %>]:
  <% first_author = true %>
  <% paper.people.each do |author| %>
    <% if first_author == true %>
      <% first_author = false %>
    <% else %>
      | <!-- a character for spacing -->
    <% end %>
    <% if author %>
      <% if author == @person %>
        <%= link_to author.full_name, person_path(author), :style => "font-style:italic;" %>
      <% else %>
        <%= link_to author.full_name, person_path(author) %>
      <% end %>
    <% else %>
      <%= link_to author.full_name, person_path(author) %>
    <% end %>
  <% end %>
</p>