<p id="notice"><%= notice %></p>

<p>
  <strong>Volume:</strong>
  <%= @paper.volume_id %>
</p>

<p>
  <strong>Paper:</strong>
  <%= @paper.paper_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @paper.title %>
</p>

<p>
  <strong>Month:</strong>
  <%= @paper.month %>
</p>

<p>
  <strong>Year:</strong>
  <%= @paper.year %>
</p>

<p>
  <strong>Address:</strong>
  <%= @paper.address %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @paper.publisher %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @paper.pages %>
</p>

<p>
  <strong>Url:</strong>
  <%= @paper.url %>
</p>

<p>
  <strong>Bibtype:</strong>
  <%= @paper.bibtype %>
</p>

<p>
  <strong>Bibkey:</strong>
  <%= @paper.bibkey %>
</p>

<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>
