<!-- Meta tags used by Google Scholar to crawl and index the anthology -->
<% content_for :head do %>
  <meta content="<%= @paper.title %>" name="citation_title" >
  <% @authors.each do |author| %>
    <meta content="<%= author.full_name %>" name="citation_author" >
  <% end %>
  <meta content="<%= @paper.year %>" name="citation_publication_date" >

  <meta content="<%= journal_title(@paper.anthology_id) %>" name="citation_journal_title" >
  <meta content="<%= citation_volume_from_title(volume_title(@paper.anthology_id)) %>" name="citation_volume" >
  <meta content="<%= citation_issue_from_title(volume_title(@paper.anthology_id)) %>" name="citation_issue" >
  
  <% if @paper.pages %>
    <meta content="<%= @paper.pages.split("–")[0] %>" name="citation_firstpage" >
    <meta content="<%= @paper.pages.split("–")[1] %>" name="citation_lastpage" >
  <% end %>
  
  <meta content="<%= "http://www.aclweb.org/anthology/" + @paper.anthology_id %>" name="citation_pdf_url" >
<% end %>

<!-- Main information for the paper -->
<div class="row">
  <%- model_class = Paper -%>
  <div class="span12 page-header">
    <h2>
      <% if @paper.revisions.size > 0 %>
        <%= link_to image_tag("pdf_rev.png", size: "24x24", title: "Open Revision PDF of '#{@paper.title}'"), "http://aclweb.org/anthology/#{@paper.revisions.last.title}", :target => "_blank" %>
        <%= link_to image_tag("pdf.png", size: "24x24", title: "Open PDF of '#{@paper.title}'"), @paper.url, :target => "_blank" %>
      <% else %>
        <%= link_to image_tag("pdf.png", size: "24x24", title: "Open PDF of '#{@paper.title}'"), @paper.url, :target => "_blank" %>
      <% end %>

      <%= link_to image_tag("export.png", size: "24x24", title: "Export '#{@paper.title}' to bib format"), paper_path(@paper, format: :bib) %>
      <%= link_to image_tag("search.png", size: "24x24", title: "Search for '#{@paper.title}' on Google"), "https://www.google.com/search?q=#{@paper.title}", :target => "_blank" %>
      <%= link_to @paper.title, @paper.url, :target => "_blank" %>
    </h2>
  </div>

  <div class="span9">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:anthology_id) %>:</strong></dt>
      <dd><%= @paper.anthology_id %>&nbsp;</dd>

      <% if @paper.revisions.size > 0 %>
        <dt><strong>Revision v1:</strong></dt>
        <dd><%= link_to @paper.anthology_id, @paper.url, :target => "_blank" %>&nbsp;</dd>
      <% end %>
      <% @paper.revisions.each do |revision| %>
        <dt><strong>Revision v<%= revision.ver %>:</strong></dt>
        <dd><%= link_to revision.title, "http://aclweb.org/anthology/#{revision.title}", :target => "_blank" %>&nbsp;</dd>
      <% end %>

      <dt>Volume:</dt>
      <dd><%= link_to @in_volume.title, volume_path(@in_volume) %>&nbsp;</dd>
      <% if @authors.size > 1 %>
        <dt><strong>Authors:</strong></dt>
      <% else %>
        <dt><strong>Author:</strong></dt>
      <% end %>  
      <dd>
        <% first_author = true %>
        <% @authors.each do |author| %>
          <% if first_author == true %>
            <%= link_to author.full_name, person_path(author) %>
            <% first_author = false %>
          <% else %>
            | <%= link_to author.full_name, person_path(author) %>
          <% end %>
        <% end %>&nbsp;
      </dd>

      <dt><strong><%= model_class.human_attribute_name(:month) %>:</strong></dt>
      <dd><%= @paper.month %>&nbsp;</dd>
      <dt><strong><%= model_class.human_attribute_name(:year) %>:</strong></dt>
      <dd><%= @paper.year %>&nbsp;</dd>

      <% if @events.size > 1 %>
        <dt><strong>Venues:</strong></dt>
      <% else %>
        <dt><strong>Venue:</strong></dt>
      <% end %>  
      <dd>
        <% first_event = true %>
        <% @events.each do |event| %>
          <% if first_event == true %>
<!--            <%= link_to Venue.find(event.venue_id).acronym, event_path(event) %> -->
            <%= link_to Venue.find(event.venue_id).acronym, venue_path(Venue.find(event.venue_id)) %>
            <% first_event = false %>
          <% else %>
<!--            | <%= link_to Venue.find(event.venue_id).acronym, event_path(event) %> -->
            | <%= link_to Venue.find(event.venue_id).acronym, venue_path(Venue.find(event.venue_id)) %>
          <% end %>
        <% end %>&nbsp;
      </dd>

      <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
      <dd><%= @paper.address %>&nbsp;</dd>

      <% if @sigs.size > 1 %>
        <dt><strong>SIGs:</strong></dt>
      <% else %>
        <dt><strong>SIG:</strong></dt>
      <% end %>
      <dd>
        <% first_sig = true %>
        <% @sigs.each do |sig| %>
          <% if first_sig == true %>
            <%= link_to sig.sigid, sig_path(sig) %>
            <% first_sig = false %>
          <% else %>
            | <%= link_to sig.sigid, sig_path(sig) %>
          <% end %>
        <% end %>&nbsp;
      </dd>

      <dt><strong><%= model_class.human_attribute_name(:publisher) %>:</strong></dt>
      <dd><%= @paper.publisher %>&nbsp;</dd>
      <dt><strong><%= model_class.human_attribute_name(:pages) %>:</strong></dt>
      <dd><%= @paper.pages %>&nbsp;</dd>
      <dt><strong><%= model_class.human_attribute_name(:url).upcase %>:</strong></dt>
      <dd><%= link_to @paper.url, @paper.url, :target => "_blank" if @paper.url  %>&nbsp;</dd>
      <dt><strong><%= "MRF" %>:</strong></dt>
      <dd><%= link_to "LaTeXML", "http://aclweb.org/anthology/#{@paper.mrf[0]}/#{@paper.mrf[0..2]}/#{@paper.mrf}", title: "Generated by LaTeXML, for publications originating from TeX sources", :target => "_blank" if @paper.mrf %>&nbsp;</dd>
      <dt><strong><%= model_class.human_attribute_name(:bibtype) %>:</strong></dt>
      <dd><%= @paper.bibtype %>&nbsp;</dd>
      <dt><strong><%= model_class.human_attribute_name(:bibkey) %>:</strong></dt>
      <dd><%= @paper.bibkey %>&nbsp;</dd>
      <dt><strong>Bib Export formats:</strong></dt>
      <dd>
        <%= link_to "BibTeX", paper_path(@paper, format: :bib), :class => "export" %>
        <%= link_to "RIS", paper_path(@paper, format: :ris), :class => "export" %>
        <%= link_to "Endnote", paper_path(@paper, format: :endf), :class => "export" %>
        <%= link_to "MODS XML", paper_path(@paper, format: :xml), :class => "export" %>
        <%= link_to "MS Word '07", paper_path(@paper, format: :word), :class => "export" %>
        <% link_to "DBLP", paper_path(@paper, format: :dblp), :class => "export" %>
      </dd>
      <% @paper.attachments.each do |attachment| %>
        <dt><strong><%= attachment.attach_type.humanize %>:</strong></dt>
        <dd><%= link_to attachment.name, attachment.url , :target => "_blank" %>&nbsp;</dd>
      <% end %>
      
    </dl>
  </div>

  <!-- Papers actions -->
    <% if ((user_signed_in?) && (can? :edit, @paper)) %>
      <div class="form-actions span12">
        <%= link_to "Back to Volume",
                    volume_path(@paper.volume_id), :class => 'btn'  %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_paper_path(@paper), :class => 'btn' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    paper_path(@paper),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger' %>
      </div>
    <% end %>
  </div>
</div>
