<!DOCTYPE html>
<html>
<head>
	<meta content="HelloWorld"></meta>
  	<title>ACL anthology</title>
  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
  	<% if content_for? :head %>
    	<%= yield :head %>
 	<% end %>
</head>
<body>

<%= yield %>

</body>
</html>
